.button {
    padding: 0.3rem 2rem;
    display: block;
    outline: none;
    font-size: 1.1rem;
    border: none;
    border-radius: 0.2rem;
    color: white;
    cursor: pointer;
    background: black;
}